.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #0f1c31;
  color: white;
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  padding-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

.sidebar-header {
  text-align: center;
  padding: 40px;
  font-size: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 12px 20px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.sidebar-menu li a:hover {
  border-radius: 5px;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

#toggleBtn {
  width: 40px;              
  height: 40px;             
  background-image: url(../assets/btn-back.svg);
  background-size: cover;   
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 55px;
  left: -130px;
  z-index: 1100;
  background-color: transparent;  
  color: transparent;             
  border: none;
  font-size: 0;                   
  cursor: pointer;
  border-radius: 94px;
  display: none;                 
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 0;
  }

  .sidebar.collapsed {
    transform: translateX(0);
    width: 240px;
  }

  #toggleBtn {
    display: block;
  }
}

@media (min-width: 769px) {
  #toggleBtn {
    display: block;
  }

  .sidebar {
    transform: translateX(0);
  }
}