body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2f3093;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  width: 360px;
  height: 810px;
  background-image: url('../assets/bg-login.svg'); 
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 10px rgb(255, 255, 255);

}

.titulo {
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.titulo span {
  display: block;
  font-size: 1.2rem;
  color: #ffffffb3;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 20rem; 

}

.input1, .input1Submit {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.input1 {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  width: 90%;
}

.input1::placeholder {
  color: #666;
}

.input1Submit {
  background-color: #243a7d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#mensaje{
text-align: center;  
color: aliceblue;
}