#screen {
    width: 350px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
 


  .formulario {
    position: absolute;
    top: 73%;
    left: 30%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
  }
  

  .contenedor {
    position: relative;
    width: 100%;
    max-width: 600px;
    top: 20%;
    left: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  img, video {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  button, input {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }

  .input1{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px;
    border-radius: 16px;
    border: none;
    width: 300px;
    height: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}



.fondo {
    width: 100%;
    height: auto;
    display: block;
  }

#mensaje{
    color: rgb(252, 66, 66);
    text-align: center;
}

h1{
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

h2{
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

#mascotList{
  background-color: rgba(79, 55, 214, 0);
  padding: 8px;
  border-radius: 16px;
  border: none;
  width: 310px;
  height: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  color: aliceblue;
  font-size: large;


}

#buttonAdd{
    color:aliceblue;
    background-color: rgb(49, 175, 123);
    padding: 8px;
    border-radius: 16px;
    border: none;
    width: 500px;
    height: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;

}
