<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
  </div>
  <ul class="sidebar-menu">
    <li><a href="../pages/main.html"><i class="bi bi-heart-pulse"></i> Mascotas</a></li>
    <li><a href="../pages/razas.html">Raza</a></li>
    <li><a href="../pages/categorias.html"> Categorías</a></li>
    <li><a href="../pages/Mapa.html">Mapa</a></li>
    <li><a href="../pages/genero.html"> Género</a></li>
    <li><a href="../pages/reportes.html"></i>Reportes</a></li>
    <li><a href="../pages/graficas.html"></i>Graficas</a></li>
    <li><a href="../pages/index.html"> Cerrar Sesión</a></li>
  </ul>
</div>

